<footer class="bg-white p-2">
    <div class="d-flex px-5 py-3" style="justify-content: space-between;align-items: center;" >
        <a [routerLink]="['music']" class="d-flex align-items-center text-dark" routerLinkActive="active" style="flex-direction: column;font-size:20px">
            <i class="fa fa-music" aria-hidden="true"></i>
            เพลง
        </a>
        <a [routerLink]="['playlist']" class="d-flex align-items-center text-dark" routerLinkActive="active" style="flex-direction: column;font-size:20px">
            <i class="fa fa-list" aria-hidden="true"></i>
            เพลย์ลิสต์
        </a>
    </div>
</footer>